<h1><%= @user.name if @user %>'s profile:</h1>

<div class="events">
  <h3>Events:</h3>
  <% @user.events.each do |event| %>
    <div>
      Location: <%=  event.location %><br/>
      Time: <%=  event.date %><br/>
      <%= link_to("manage", event_path(event.id)) %>
     </div>
  <% end %>
</div>

<h3>Attending:</h3>
<h4>Upcoming events:</h4>
<div class="attending">
  <div class="upcoming-events">
    <% @upcoming_events.each do |event| %>
      <%= render 'shared/event', :event => event %>
    <% end %>
  </div>
  <h4>Past events:</h4>
  <div class="past-events">
    <% @past_events.each do |event| %>
      <%= render 'shared/event', :event => event %>
    <% end %>
  </div>
</div>